@import url(./vendor/fonts/fonts.css);

p,
h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    min-width: 375px;
    --color-grey: #595653;
    --color-dark-grey: #313131;
    --color-white: #FFF;
    --color-black: #000;
    --color-blue: #3057A2;
    --color-red: #F54932;
    --color-beige: #E9DED4;
    --color-yelow: #FBCE51;
}

.page__conteiner {
    margin: 0 auto;
    max-width: 1222px;
}

.page__title {
    text-transform: uppercase;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: var(--color-dark-grey);
}

.running {
    color: var(--color-white);
    font-size: 22px;
    line-height: 110%;
    background-color: var(--color-red);
    height: 20px;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
}

.running__item {
list-style: disc;
}

.header {
    background-image: url(./images/header.png);
    background-repeat: no-repeat;
    background-position: center;
}

.header__conteiner {
    box-sizing: border-box;
    padding: 26px 0 130px;
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.header, .footer {
    background-color: var(--color-beige);
}

.header__logo {
    display: flex;
    gap: 6px;
}

.header__logo-title {
    text-transform: uppercase;
    font-family: 'GolosText', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16.65px;
    line-height: 108%;
    color: var(--color-grey);
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 542px;
}

.header__title {
    font-size: 60px;
    line-height: 110%;
}

.header__title_start {
    text-align: start;
}

.header__title_center {
    text-align: center;
}

.header__text {
    font-family: 'GolosText', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: var(--color-dark-grey);
    margin-bottom: 16px;
    text-align: center;
}

.header__buttons {
    display: flex;
    gap: 16px;
}

.header__button {
    box-sizing: border-box;
    padding: 20px 49px;
    font-family: 'GolosText', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    width: 263px;
    border-radius: 66px;
}

.header__button_dark {
    background-color: var(--color-black);
    color: var(--color-white);
    transition: all ease-in-out 0.5s;
}

.header__button_dark:hover {
    background-color: var(--color-yelow);
    color: var(--color-black);
    transition: all ease-in-out 0.5s;
    border: 2px solid var(--color-yelow)
}

.header__button_light {
    background: none;
    color: var(--color-black);
    box-sizing: border-box;
    border: 2px solid var(--color-black);
    transition: all ease-in-out 0.5s;
}

.header__button_light:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    transition: all ease-in-out 0.5s;
}

.content,
.events,
.stages,
.users {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}


.content {
    margin: 80px auto 200px;
    gap: 200px;
}

.events {
    gap: 64px;
}

.events__item {
    display: flex;
    gap: 44px;
}

.events__title {
    font-size: 36px;
    line-height: 135%;
}

.events__title_bold {
    font-weight: 700;
    color: var(--color-red);
}

.events__item-conteiner {
    display: flex;
    flex-direction: column;
    gap: 44px;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tbody {
    border: none;
    width: 100%;
}

tr {
    border-bottom: 2px solid #D0D0D0;
}

tr:last-of-type {
    border-bottom: none;
}

th,
td {
    font-family: 'Golos_Text';
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
}

th {
    font-weight: 400;
    color: var(--color-dark-grey);
    opacity: 70%;
    text-align: left;
    padding: 16px 16px 16px 0;
}

td {
    font-weight: 600;
    color: var(--color-black);
    border-left: 2px solid #D0D0D0;
    padding: 16px 0 16px 16px;
    width: max-content;
}

.events__caption {
    color: var(--color-blue);
    font-family: 'GolosText';
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
    caption-side: bottom;
    width: 100%;
    text-align: start;
}

.stages {
    gap: 54px;
    position: relative;
}

.stages__img {
    position: absolute;
    bottom: 0;
    right: -50px;
}

.stages span {
    display: flex;
}

.stages__title,
.users__title {
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
    color: var(--color-black);
    max-width: 806px;
}

.stages__subtitle {
    font-family: 'GolosText';
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
    color: var(--color-blue);
    width: 280px;
}

.stages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.stages__item {
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--color-beige);
    font-family: 'GolosText';
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
    display: flex;
    gap: 16px;
}

.stages__item-num {
    background-color: var(--color-white);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}

#item3 {
    grid-row: span 2;
}

#item7 {
    grid-column: span 2;
    width: 100%;
}

#item7 p {
    display: block;
    width: 446px;
}

.users {
    gap: 60px;
}

.users__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.users__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    font-family: 'GolosText';
}

.users__img {
width: 320px;
height: 320px;
}

.users__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0px;
}
.users__status {

    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
    color: var(--color-dark-grey);
    opacity: 60%;
}

.users__button {
    border-radius: 62px;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    padding: 12px;
    background: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0px;
}

.users__button:hover {
    color: var(--color-white);
    background-color: var(--color-blue);
}

.footer__text {
    box-sizing: border-box;
    padding: 40px 0 72px;
    font-family: 'GolosText';
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0px;
    color: var(--color-dark-grey);
    opacity: 60%;
}

@media (max-width: 768px) {
    .page__conteiner {
        max-width: 335px;
    }

    .content {
        margin: 48px auto 100px;
        gap: 120px;
    }

    .events {
        gap: 34px;
    }

    .events__item {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .events__title {
        font-size: 28px;
    }

    .stages {
        gap: 20px;
    }

    .stages span {
        flex-direction: column;
    }

    .stages__title,
    .users__title {
        font-size: 36px;
    }

    .stages__subtitle {
        font-size: 18px;
        width: 335px;
    }

    .stages__item {
        font-size: 18px;
    }

    .users {
        gap: 40px;
    }

    .users__img {
        width: 244px;
        height: 244px;
        }

    .header {
        padding: 18px 0 291px;
        gap: 40px;
    }

    .header__content {
        width: 335px;
    }

    .header__logo-title {
        font-size: 14.42px;
    }

    .header__title {
        font-size: 36px;
    }

    .header__text {
        margin-bottom: 8px;
    }

    .header__buttons {
        flex-direction: column;
        gap: 14px;
    }

    .header__button {
        width: 100%;
        padding: 18px 40px;
    }
}