@import url(./vendor/fonts/fonts.css);

body {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 72px;
    display: flex;
    flex-direction: column;
    --color-grey: #595653;
    --color-dark-grey: #313131;
    --color-white: #FFF;
    --color-black: #000;
    --color-blue: #3057A2;
    --color-red: #F54932;
    --color-beige: #E9DED4;
    --color-yelow: #FBCE51;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6.35px;
    padding-top: 26px;
}

.header__logo {
    width: 91.82px;
    height: 31.18px;
}

.header__title {
    font-family: 'Golos_Text', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16.65px;
    line-height: 108%;
    text-transform: uppercase;
    color: var(--color-grey);
}

.content {
    max-width: 1366px;
    min-width: 375px;
}

.main-section {
    box-sizing: border-box;
    padding: 62px 0 132px 0;
    /* background-image: url(./images/header.png); */
    background-repeat: no-repeat;
    background-size: contain;
}

.main-section__conteiner {
    width: 542px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-section__title {
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 60px;
    line-height: 110%;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: var(--color-dark-grey);
}

.main-section__title:last-of-type {
    margin-bottom: 24px;
}

.main-section__title_justify {
    text-align: start;
}

.main-section__title_center {
    text-align: center;
}

.main-section__subtitle {
    font-family: 'Golos_Text';
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0px;
    color: var(--color-dark-grey);
    margin-bottom: 40px;
}

.main-section__buttons {
    display: flex;
    gap: 16px;
}

.main-section__button {
    box-sizing: border-box;
    padding: 20px 49px;
    font-family: 'Golos_Text', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    width: 263px;
    height: 72px;
    border-radius: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section__button_dark {
    background-color: var(--color-black);
    color: var(--color-white);
    transition: all ease-in-out 0.5s;
}

.main-section__button_dark:hover {
    background-color: var(--color-yelow);
    color: var(--color-black);
    border: none;
    transition: all ease-in-out 0.5s;
}

.main-section__button_light {
    background: none;
    color: var(--color-black);
    border: 2px solid var(--color-black);
    transition: all ease-in-out 0.5s;
}

.main-section__button_light:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    transition: all ease-in-out 0.5s;
}

  @keyframes ticker {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
        
  .ticker {
    background: var(--color-red);
    color: var(--color-white);
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 110%;
    text-transform: uppercase;
    max-width: 100vw;
    overflow: hidden;
  }
        
  .ticker__in {
    display: flex;
    gap: 20px;
    width: fit-content;
    animation: ticker 10s linear infinite;
    -webkit-transform-style: preserve-3d;}
        
  .ticker__item {
    padding: 0;
    white-space: nowrap;
    -webkit-backface-visibility: hidden;  }



  
.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}

.events__item {
    display: flex;
    gap: 44px;
}

.events__item_lecture {
    flex-direction: row-reverse;
}

.events__item-conteiner {
    display: flex;
    flex-direction: column;
    gap: 44px;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tbody {
    border: none;
    width: 100%;
}

tr {
    border-bottom: 2px solid #D0D0D0;
}

tr:last-of-type {
    border-bottom: none;
}

th,
td {
    font-family: 'Golos_Text';
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
}

th {
    font-weight: 400;
    color: var(--color-dark-grey);
    opacity: 70%;
    text-align: left;
    padding: 16px 16px 16px 0;
}

td {
    font-weight: 600;
    color: var(--color-black);
    border-left: 2px solid #D0D0D0;
    padding: 16px 0 16px 16px;
    width: max-content;
}

.events__title {
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 135%;
    text-transform: uppercase;
    color: var(--color-black);
}

.events__title_bold {
    font-weight: 700;
    color: var(--color-red);
}

.events__subtitle {
    color: var(--color-blue);
    font-family: 'Golos_Text';
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
    caption-side: bottom;
    width: 100%;
    text-align: justify;
}

.stages {
    display: flex;
    flex-direction: column;
    gap: 54px;
    position: relative;
}

.stages__img {
    width: 376.64px;
    height: 140.42px;
    position: absolute;
    bottom: 24px;
    right: -105px;
}

.stages__title, .participants__title {
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--color-black);
    max-width: 806px;
}

.stages__subtitle {
    font-family: 'Golos_Text';
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
    color: var(--color-blue);
}

.stages__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.stages__list li {
    list-style: none;
    box-sizing: border-box;
    padding: 20px 0;
    background-color: var(--color-beige);
    font-family: 'Golos_Text';
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
}

#item3 {
    grid-row: span 2;
}

#item7 {
    grid-column: span 2;
width: 100%;
}

#item7 span {
    display: block;
    width: 446px;
}
.participants__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.participants__item {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.participants__img {
width: 320px;
height: 320px;
}

.participants__name {
    font-family: 'Golos_Text';
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0px;
}
.participants__status {
    font-family: 'Golos_Text';
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
    color: var(--color-dark-grey);
    opacity: 60%;
}

.participants__button {
    border-radius: 62px;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    padding: 12px;
    background: none;
    font-family: 'Golos_Text';
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0px;
}

.footer__text {
    box-sizing: border-box;
    padding: 40px 0 72px;
    font-family: 'Golos_Text';
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0px;
    color: var(--color-dark-grey);
    opacity: 60%;
    background-color: var(--color-beige);
}