@import url(./vendor/fonts/fonts.css);

p,
h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 375px;
    --color-grey: #595653;
    --color-dark-grey: #313131;
    --color-white: #FFF;
    --color-black: #000;
    --color-blue: #3057A2;
    --color-red: #F54932;
    --color-beige: #E9DED4;
    --color-yelow: #FBCE51;
}

.page__conteiner {
    margin: 0 auto;
    max-width: 1222px;
}

.page__title {
    text-transform: uppercase;
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: var(--color-dark-grey);
}

.header {
    /* background-color: ;
    background-image: ; */
    box-sizing: border-box;
    padding: 26px 0 130px;
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.header__logo {
    display: flex;
    gap: 6px;
}

.header__logo-image {}

.header__logo-title {
    text-transform: uppercase;
    font-family: 'GolosText', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16.65px;
    line-height: 108%;
    color: var(--color-grey);
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 542px;
}

.header__title {
    font-size: 60px;
    line-height: 110%;
}

.header__title_start {
    text-align: start;
}

.header__title_center {
    text-align: center;
}

.header__text {
    font-family: 'GolosText', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: var(--color-dark-grey);
    margin-bottom: 16px;
    text-align: center;
}

.header__buttons {
    display: flex;
    gap: 16px;
}

.header__button {
    box-sizing: border-box;
    padding: 20px 49px;
    font-family: 'GolosText', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    width: 263px;
    border-radius: 66px;
}

.header__button_dark {
    background-color: var(--color-black);
    color: var(--color-white);
    transition: all ease-in-out 0.5s;
}
.header__button_dark:hover {
    background-color: var(--color-yelow);
    color: var(--color-black);
    transition: all ease-in-out 0.5s;
    border: 2px solid var(--color-yelow)
}
.header__button_light {
    background: none;
    color: var(--color-black);
    box-sizing: border-box;
    border: 2px solid var(--color-black);
    transition: all ease-in-out 0.5s;
}
.header__button_light:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    transition: all ease-in-out 0.5s;
}




.content,
.events,
.stages,
.users {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}


.content {
    margin: 80px auto 200px;
    gap: 200px;
}

.events {
    gap: 64px;
}

.stages {
    gap: 54px;
}

.users {
    gap: 60px;
}

@media (max-width: 768px) {
    .page__conteiner {
        max-width: 335px;
    }

    .content {
        margin: 48px auto 100px;
        gap: 120px;
    }

    .events {
        gap: 34px;
    }

    .stages {
        gap: 20px;
    }

    .users {
        gap: 40px;
    }

    .header {
        padding: 18px 0 291px;
        gap: 40px;
    }

    .header__content {
        width: 335px;
    }

    .header__logo-title {
        font-size: 14.42px;
    }

    .header__title {
        font-size: 36px;
    }

    .header__text {
        margin-bottom: 8px;
    }

    .header__buttons {
        flex-direction: column;
        gap: 14px;
    }

    .header__button {
        width: 100%;
        padding: 18px 40px;
    }
}