@import url(./vendor/fonts/fonts.css);
@import url(./styles/page.css);
@import url(./styles/running.css);
@import url(./styles/header.css);
@import url(./styles/content.css);
@import url(./styles/content/events.css);
@import url(./styles/content/stages.css);
@import url(./styles/content/users.css);
@import url(./styles/footer.css);

p,
h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
    --color-grey: #595653;
    --color-dark-grey: #313131;
    --color-white: #FFF;
    --color-black: #000;
    --color-blue: #3057A2;
    --color-red: #F54932;
    --color-beige: #E9DED4;
    --color-yelow: #FBCE51;
    --color-light-grey: #D6D6D6;
}