.stages {
    gap: 54px;
    position: relative;
}

.stages::after {
    content: '';
    position: absolute;
    right: -3rem;
    bottom: 0;
    width: 24rem;
    height: 14rem;
    background: url(../../images/airplane.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.stages__img {
    position: absolute;
    bottom: 0;
    right: -50px;
}

.stages__title,
.users__title {
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
    color: var(--color-black);
    max-width: 806px;
}

.stages__subtitle {
    display: inline-block;
    font-family: 'GolosText';
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
    color: var(--color-blue);
    width: 280px;
    text-transform: none;
}

.stages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    transform: translateX(0px);
}

.stages__item {
    box-sizing: border-box;
    padding: 20px;
    background-image: url(../../images/header-background.webp);
    font-family: 'GolosText';
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
    display: flex;
    gap: 16px;
}

.stages__item-num {
    background-color: var(--color-white);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}

#item3 {
    grid-row: span 2;
}

#item7 {
    grid-column: span 2;
    width: 100%;
}

#item7 p {
    display: block;
    padding-right: 290px;
    box-sizing: border-box;
}

.stages__buttons {
    display: none;
}

.stages__button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    background-color: var(--color-black);
    color: var(--color-white);
    border: none;
}

.stages__button:hover {
    background-color: var(--color-yelow);
    cursor: pointer;
}

.stages__button_disabled {
    background-color: var(--color-light-grey);
    pointer-events: none;
    cursor: default;
}

.stages__button_left {
    background-image: url(../../images/slider_left.svg);
}

.stages__button_right {
    background-image: url(../../images/slider_right.svg);
}

.stages__button_left, .stages__button_right {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.stages__dots {
    display: flex;
    gap: 6px;
    width: min-content;
}

.stages__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-light-grey);
}

.stages__dot:hover {
    background-color: var(--color-yelow);
    cursor: pointer;
}

.stages__dot_active {
    background-color: var(--color-black);
}

@media (max-width: 975px) {
    .stages {
        gap: 20px;
    }

    .stages::after {
        right: 0;
        top: 13rem;
        bottom: auto;
        width: 100%;
        height: 12rem;
    }

    .stages__title,
    .users__title {
        font-size: 36px;
    }

    .stages__subtitle {
        font-size: 18px;
        width: 335px;
        margin-bottom: 148px;
    }

    .stages__slider {
        overflow: hidden;
        width: 335px;
        height: 364px;
    }

    .stages__list {
        grid-template-columns: repeat(5, 335px);
        grid-template-rows: repeat(2, 150px);
        grid-template-areas: "item1 item3 item4 item6 item7" "item2 item3 item5 item6 item7";
        column-gap: 40px;
        row-gap: 0;
        transition: transform ease-in-out 0.5s;
    }

    .stages__item {
        font-size: 18px;
        padding: 62px 20px 28px 20px;
        width: 100%;
        height: 100%;
    }

    #item1 {
        grid-area: item1;
    }

    #item2 {
        grid-area: item2;
        padding-top: 28px;
    }

    #item3 {
        grid-row: span 2;
        grid-area: item3;
    }

    #item4 {
        grid-area: item4;
    }

    #item5 {
        grid-area: item5;
        padding-top: 0;
    }

    #item6 {
        grid-row: span 2;
        grid-area: item6;
    }

    #item7 {
        grid-column: span 1;
        grid-row: span 2;
        grid-area: item7;
    }

    #item7 p {
        padding-right: 0;
    }

    .stages__img {
        top: 190px;
        left: 10px;
    }

    .stages__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-top: 28px;
    }
}