.users {
    gap: 37px;
    margin-top: -28px;
}

.users__slider {
    width: 1222px;
    overflow: hidden;
}

.users__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    transition: transform ease-in-out 0.5s;
}

.users__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-family: 'GolosText';
}

.users__img {
    width: 320px;
    height: 320px;
    margin: 0 37px;
}

.users__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0px;
}

.users__status {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
    color: var(--color-dark-grey);
    opacity: 60%;
}

.users__button {
    border-radius: 62px;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    padding: 7px 14px;
    background: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0px;
}

.users__button:hover {
    color: var(--color-white);
    background-color: var(--color-blue);
    cursor: pointer;
}

.users__buttons {
    margin: 0 auto;
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    color: var(--color-dark-grey);
    font-family: 'GolosText';
    font-weight: 400;
    font-size: 16px;
    line-height: 120px;
}

.users__title-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.users__buttons_desktop {
    margin: 0;
}

.users__buttons_mobile {
    display: none;
}

@media (max-width: 1366px) {
    .users__slider {
        width: 808px;
    }
}

@media (max-width: 975px) {
    .users__slider {
        width: 394px;
    }
}

@media (max-width: 515px) {
    .users__list {
        gap: 32px;
    }
    .users__slider {
        width: 335px;
    }
    .users__img {
        width: 244px;
        height: 244px;
        margin: 0 45.5px 16px;
    }
    .users__button {
        margin-top: 7px;
    }
    .users__item {
        gap: 11px;
    }
}

@media (max-width: 975px) {
    .users {
        gap: 40px;
        margin-top: 0;
    }

    .users__buttons {
        padding-right: 32px;
    }

    .users__buttons_desktop {
        display: none;
    }

    .users__buttons_mobile {
        display: flex;
        justify-content: center;
    }
}