.content,
.events,
.stages,
.users {
    display: flex;
    flex-direction: column;
}

.content {
    margin: 80px auto 141px;
    gap: 200px;
}

@media (max-width: 975px) {
    .content {
        margin: 48px auto 57px;
        gap: 120px;
    }
}