.running {
    background-color: var(--color-red);
    overflow: hidden;
    box-sizing: border-box;
    padding: 18px 12px;
    height: 60px;
    width: 100%;
    display: flex;
}

.running__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;

    color: var(--color-white);
    font-size: 22px;
    line-height: 110%;
    text-wrap: nowrap;

    animation: runningLine 10s infinite linear forwards;
}

.running__item {
    list-style: disc;
    margin: 0 12px;
}

@keyframes runningLine {
     from {
        transform: translateX(0);
     }
     to {
        transform: translateX(calc(-100%));
     }
}

@media (max-width: 975px) {
    .running {
        padding: 10px 12px;
        height: 38px;
    }
    .running__list {
        font-size: 16px;
    }
}